footer {
    background-color: var(--white);
    border-radius: 16px;
}

.footer__divBox {
    display: flex;
    align-items: center;
}

.footer__links {
    margin-left: auto;
    text-align: right;
}

.footer__link {
    display: block;
    color: var(--wave);
    text-decoration: underline;
    margin-bottom: 10px;

    transition: var(--tr-color);
}

.footer__link:hover {
    color: var(--purple);
}