.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;

    //mobile
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    //tablet
    @media screen and (min-width: 768px) {
        width: 768px;
    }

    //desktop
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}