:root {
    //font
    --font-main: 'Montserrat', sans-serif ;
    --font-accent: 'Rubik Burned',
        system-ui;

    //colors
    --wave: #55d6be;
    --blue: #acfcd9;
    --grey: #dddddd;
    --purple: #7d5ba6;
    --coral: #fc6471;
}